<!--
Ladda navbaren från mainsite
-->
{% extends 'mainsite.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block extrahead %}<link rel="stylesheet" href="{% static 'shop/style.css' %}">{% endblock %}
    <title>Document</title>
</head>
<body>
    
    {% block content%}
    <h2 style="text-align:center">Product Card</h2>

    <div class="card">
        <img src="{% static 'shop/jeans3.jpg'%}" alt="Denim Jeans" style="width:20%">
        <h1>Tailored Jeans</h1>
        <p class="price">$19.99</p>
        <p>Some text about the jeans. Super slim and comfy lorem ipsum lorem jeansum. Lorem jeamsun denim lorem jeansum.</p>
        <p><button>Add to Cart</button></p>
    </div>
    <div class="card">
        <img src="{% static 'shop/jeans3.jpg'%}" alt="Denim Jeans" style="width:20%">
        <h1>Tailored Jeans</h1>
        <p class="price">$19.99</p>
        <p>Some text about the jeans. Super slim and comfy lorem ipsum lorem jeansum. Lorem jeamsun denim lorem jeansum.</p>
        <p><button>Add to Cart</button></p>
    </div>
    {% endblock %}
</body>
</html>