<!--
Person 5, Här behövs läggas till så den extendar från 'mainsite.html'
-->
{% extends  %}

<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Person 5, Här behövs ändras i href så den hämtar style.css från statiska mappen -->
    {% block extrahead %}<link rel="stylesheet" href="{%  %}">{% endblock %}
    <title>Document</title>
</head>
<body>
    <!-- Person 5, Här behövs läggas till en början på ett block med namnet content -->
    {% %}
    <h2 style="text-align:center">Our items</h2>
    <div class="card">
        <!-- Person 6, Här behövs läggas till så att den laddar in bilden rätt från statiska mappen -->
        <img src="{% %}" alt="Denim Jeans" style="width:100%">
        <h1>Tailored Jeans</h1>
        <p class="price">$19.99</p>
        <p>Some text about the jeans. Super slim and comfy lorem ipsum lorem jeansum. Lorem jeamsun denim lorem jeansum.</p>
        <p><button>Add to Cart</button></p>
    </div>
    <!-- Person 6, Här behövs läggas till 5 stycken likadana divs med card-klassen hoppas sedan in och stylea i css-->
    
    {% endblock %}
</body>
</html>